---
BasedOnStyle: Google
Language: Cpp
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: true
    AfterEnum: true
    AfterFunction: true
    AfterStruct: true
    SplitEmptyFunction: false
